# DATABASE
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
DB_HOST=db
DB_PORT=3306

# APP
APP_URL=http://localhost:8080

# MAIL
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_FROM=noreply@mars.local
